@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --very-dark-magenta: hsl(303, 10%, 53%);
    --soft-pink: hsl(333, 90%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: (0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}








.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }